html {
    background-size: cover;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(204, 255, 204, .2), rgb(204, 255, 204, 1));
    resize: both;
    overflow: scroll;
}
body {
    margin: auto;
    text-align: center;
}

h1 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}
#ball img {
    width: 15%;
    height: auto;
}
#myAnimation img {
    width: 10%;
    height: auto;
}
#ground {
    border: 5px solid darkolivegreen;
    height: 0px;
    width: auto;
    border-top-color: darkolivegreen;
    display: block;
    margin: auto;
}